body{
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container{
	display: flex;
	max-width: 1000px;
	width: 70vw;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 60px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}